.maindiv{
    display: flex;
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.6rem, 0.1rem + 1vw, 1rem);
    align-items: center;
    justify-content: center;
}

.contentdiv{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 75%;
}

.textdiv{
    padding: 2vw;
}

.textdiv h2{
    margin: 0;
    color: var(--color);
    line-height: 100%;
}

.imagediv{
    display: flex;
}

.imagediv img{
    width: clamp(2rem, 0.1rem + 15vw, 30rem);
    border-radius: 50%;
}

.textdiv mark{
    font-size: clamp(0.6rem, 0.1rem + 1vw, 1rem);
    color: var(--color);
    background:none;
}

