
.main{
    color:white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    justify-content: center;
    gap: 2svw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.titleContainer{
    font-size: clamp(0.6rem, 0.1rem + 1vw, 1.5vw);
}
 
.menuContainer{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 30%;
}


.buttonContainer Button{
    text-align: left;
    font-size: clamp(0.6rem, 0.1rem + 1vw, 1.5vw);
    width: 100%;
    max-height: 7svh;
    padding: 0.5rem;
    display: block;
    background-color: var(--mid);
    color: var(--text);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-bottom: 0.7rem;
}

.buttonContainer Button:hover{
    background-color: var(--color);
    transition: background-color 1s;
}

.buttonContainer button.active{
    background-color: var(--color);
}


.description{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #ffffff09, var(--transparentdark) 60%);
    position: relative;
    min-height: 400px;
    width: 40%;
    justify-content: flex-end;
}


.descriptionText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    font-size: clamp(0.6rem, 0.1rem + 1vw, 1.5vw);
    text-wrap: wrap;
}

.description img{
    position: absolute;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    z-index: -1;
}


.callForAction{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    width: 100%;
    height: 3vw;
    background-color: var(--mid);
    color: var(--text);
    border: 1px solid transparent;
    border-color: var(--color);
}

@media only screen and (max-width: 750px){
    .main{
        flex-direction:column;
        align-items: center;
    }
    .description{
        width: 80%;
        min-height: 300px;
    }
    .menuContainer{
        width: 80%;
    }
}