
.main{
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.5rem, 0.1rem + 1vw, 1.5vw);
}

.main h1{
    color: var(--color);
 }

 .email{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.email button{
    background-color: var(--color);
    border: 0;
    color: var(--dark);
    border-radius: 5px;
    margin-left: 1svw;
    width: clamp(2rem, 0.1rem + 10vw, 10vw);
    height: clamp(1rem, 0.1rem + 3vw, 2.5vw);
    font-size: clamp(0.5rem, 0.1rem + 1vw, 1.5vw);
    cursor: pointer;
}

.email button a{
    color: var(--dark);
    text-decoration: none;
}

.email input{
    text-align: left;
    padding-left: 1.5vw;
    color: var(--text);
    background-color: var(--dark);
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--extralight);
    width: clamp(10rem, 0.1rem + 20vw, 20vw);
    height: clamp(1rem, 0.1rem + 3vw, 2.5vw);
    font-size: clamp(0.5rem, 0.1rem + 1vw, 1.5vw);
}

.info{
    display: flex;
    justify-content: center;
    width: 20vw;
    gap: 0.5rem;
}

.info img{
    width: clamp(1rem, 0.1rem + 4vw, 2vw);
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 600px){
    
}