:root{
    --dark: #0b121f;
    --transparentdark: #0b121ff5;;
    --light: #17233b;
    --mid: #141d2bce;
    --color: #00c3ff;
    --strongColor: #00efdf80;
    --text: #FFFFFF;
    --extralight: #17233b;
    --a: rgba(22, 174, 245, 0.822);
}
